@import "../../styles/pallete.scss";

.task {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;

  border: 2px solid $to-do-item-border;
  border-radius: 10px;

  &__title {
    font-weight: bold;
    margin-bottom: 1px;
  }

  &__desc {
  }
}
