@import "styles/pallete.scss";

.task {
  margin: 20px;
  padding: 5px;

  border: 2px solid $to-do-item-border;
  border-radius: 10px;

  &__title {
    font-weight: bold;
    margin: 5px 0px;
  }

  &__desc {
    margin: 2px 0px;
  }

  &__date {
    margin: 10px 0px 0px;
  }
}
