@import "styles/pallete.scss";

.task {
  width: 250px;
  min-height: 100px;
  margin: 20px;
  padding: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 1px;

  &__title {
    font-weight: bold;
    margin: 5px 0px;
  }

  &__desc {
    margin: 2px 0px;
  }

  &__date {
    margin: 10px 0px 0px;
  }
}
