@import "styles/pallete.scss";

.headerPanelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__button {
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1pxs;
    border-radius: 5px;
    border: none;
    background-color: $button-add;
    color: $primary-white;
    font-weight: bold;
    font-size: 18px;
  }
}
