.header {
    width: 100%;
    height: 50px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header__logo {
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
}